<!DOCTYPE html>
<html>
    <head>
        <title><%= page %></title>
        <meta name="Keywords" content="关键词关键" />
        <meta name="Description" content="网页描述" />
        <link rel='stylesheet' href='/stylesheets/fheaderFooter.css' />
        <link rel='stylesheet' href='/stylesheets/fproduct.css' />
        <link rel="stylesheet" href="/layui/css/layui.css">    
        <link rel="shortcut icon" href="#" /> 
    </head>
    <body>
        <div class="fproduct">
            <!-- 头部&导航栏 -->
            <% include ../component/fnavbar %>
            
            <!-- 产品列表 -->
            <div class="fproduct-content">

                <ul class="layui-nav layui-nav-tree" lay-filter="test1">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">默认展开</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">选项1</a></dd>
                            <dd><a href="javascript:;">选项2</a></dd>
                            <dd><a href="">跳转</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">解决方案</a>
                        <dl class="layui-nav-child">
                            <dd><a href="">移动模块</a></dd>
                            <dd><a href="">后台模版</a></dd>
                            <dd><a href="">电商平台</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="">产品</a></li>
                    <li class="layui-nav-item"><a href="">大数据</a></li>
                </ul>

                <div class="fproduct-main">
                    <div class="fproduct-bread">
                        <span class="layui-breadcrumb">
                            <a href="">首页</a>
                            <a href="">国际新闻</a>
                            <a href="">亚太地区</a>
                            <a><cite>正文</cite></a>
                          </span>
                    </div>
                    <div class="fproduct-list">

                        <% for(var i=0;i<8;i++){ %>
                            <div class="fproduct-productItem">
                                <img src="/images/test3.png" alt="">
                                <div class="fproduct-productItemTxt">
                                    <h3>标题标题</h3>
                                    <p>
                                        这里是产品描述这里是产品描述这里是产品描述这里是产品描述
                                        这里是产品描述这里是产品描述这品描
                                    </p>
                                </div>
                            </div>
                        <% } %>

                    </div>
                </div>

            </div>
            
            <!-- 底部栏 -->
            <div class="footer">
                这里是底部
            </div>
        </div>
    </body>
    <script src="/layui/layui.js"></script>
    <script src="/jquery/jquery-3.4.1.min.js"></script>
    <script src="/javascript/fproduct.js"></script>
    <script>
    </script>
</html>