<!DOCTYPE html>
<html>
    <head>
        <title>标题标题</title>
        <meta name="Keywords" content="关键词关键" />
        <meta name="Description" content="网页描述" />
        <link rel='stylesheet' href='/stylesheets/fhome.css' />
        <link rel="stylesheet" href="/layui/css/layui.css">    
        <link rel="shortcut icon" href="#" /> 
    </head>
    <body>
        <div class="fhome">
            <!-- 头部&导航栏 -->
            <% include ../component/fnavbar %>
            
            <h4>test</h4>
            
            <!-- 底部栏 -->
            <div class="fhome-footer">
                这里是底部
            </div>
        </div>
    </body>
    <script src="/layui/layui.js"></script>
    <script src="/jquery/jquery-3.4.1.min.js"></script>
    <script src="/javascript/fhome.js"></script>
    <script>
    </script>
</html>