<!DOCTYPE html>
<html>
    <head>
        <title>标题标题</title>
        <meta name="Keywords" content="关键词关键" />
        <meta name="Description" content="网页描述" />
        <link rel='stylesheet' href='/stylesheets/fheaderFooter.css' />
        <link rel='stylesheet' href='/stylesheets/fproduct.css' />
        <link rel="stylesheet" href="/layui/css/layui.css">    
        <link rel="shortcut icon" href="#" /> 
    </head>
    <body>
        <div class="fproduct">
            <!-- 头部&导航栏 -->
            <% include ../component/fnavbar %>
            
            <!-- 产品列表 -->
            <div class="fproduct-content">

                <ul class="layui-nav layui-nav-tree" lay-filter="productSort">
                    <% for(var i=0;i<locals.sortArr.length;i++){ %>
                        <% var currId = locals.sortArr[i].id %>
                        <li 
                        <% if(locals.renderId == currId ){ %>
                            class="layui-nav-item layui-this"
                        <% }else{ %> 
                            class="layui-nav-item"
                        <% } %> 
                        ><a href="/fproduct?id=<%= locals.sortArr[i].id %>"><%= locals.sortArr[i].name %></a></li>
                    <% } %>
                </ul>
                
                <div class="fproduct-main">
                    <div class="fproduct-bread">
                        <span class="layui-breadcrumb">
                            <a href="/">首页</a>
                            <a href="/fproduct">产品展示</a>
                        </span>
                    </div>
                    <div class="fproduct-list">
                        <%= JSON.stringify(locals) %>
                        <!-- <% for(var i=0;i<8;i++){ %>
                            <div class="fproduct-productItem">
                                <img src="/images/test3.png" alt="">
                                <div class="fproduct-productItemTxt">
                                    <h3>标题标题</h3>
                                    <p>
                                        这里是产品描述这里是产品描述这里是产品描述这里是产品描述
                                        这里是产品描述这里是产品描述这品描
                                    </p>
                                </div>
                            </div>
                        <% } %> -->

                    </div>
                </div>

            </div>
            
            <!-- 底部栏 -->
            <%- include ../component/footer %>
            
        </div>
    </body>
    <script src="/layui/layui.js"></script>
    <script src="/jquery/jquery-3.4.1.min.js"></script>
    <script src="/javascript/fproduct.js"></script>
    <script>
    </script>
</html>