<div class="fheader">
    <h2 class="fheader-name">BLG</h2>
    <ul class="layui-nav" lay-filter="">
        <li <% if(locals.page == "fhome"){ %>
            class="layui-nav-item layui-this"
            <% }else{ %> 
                class="layui-nav-item"
            <% } %> ><a href="/">首页</a></li>
    
        <li <% if(locals.page == "fproduct"){ %>
                class="layui-nav-item layui-this"
            <% }else{ %> 
                class="layui-nav-item"
            <% } %> ><a href="/fproduct">产品展示</a></li>
    
        <li <% if(locals.page == "about"){ %>
            class="layui-nav-item layui-this"
            <% }else{ %> 
                class="layui-nav-item"
            <% } %> ><a href="/about">关于我们</a></li>
    
        <li <% if(locals.page == "news"){ %>
            class="layui-nav-item layui-this"
            <% }else{ %> 
                class="layui-nav-item"
            <% } %> ><a href="/news">资讯中心</a></li>
            
        <li <% if(locals.page == "contact"){ %>
            class="layui-nav-item layui-this"
            <% }else{ %> 
                class="layui-nav-item"
            <% } %> ><a href="/contact">联系我们</a></li>
    
    
        
        <!-- <li class="layui-nav-item">
           <a href="javascript:;">解决方案</a>
           <dl class="layui-nav-child">
                <dd><a href="">移动模块</a></dd>
                <dd><a href="">后台模版</a></dd>
                <dd><a href="">电商平台</a></dd>
          </dl>
        </li> -->
    </ul>
</div>



