<div class="footer">
    <p>
        友情链接：
        <% for(var i=0;i<locals.linkArr.length;i++){ %>
            <a href="http://<%= locals.linkArr[i].web_url %>" target="_blank" rel="noopener noreferrer"><%= locals.linkArr[i].web_name %></a>
        <% } %>
    </p>   
    <p>
        <a href="http://www.beian.miit.gov.cn/" target="_blank" rel="noopener noreferrer">备案号：ABDCFFFFG</a>
    </p>
</div>