<div class="header">
    <ul class="layui-nav">
        <li class="layui-nav-item">
            欢迎
        </li>
        <li class="layui-nav-item">
            <a href=""><img src="images/admin_avatar.jpg" class="layui-nav-img" alt="img"><%= user %></a>
            <dl class="layui-nav-child">
              <dd><a href="/adminMessage">修改信息</a></dd>
              <dd><a href="javascript:;" class="header-exit">退出</a></dd>
            </dl>
          </li>
    </ul>
</div>
