<div class="navbar-logo"><i class="layui-icon layui-icon-website" style="font-size: 20px;margin-right: 0;"></i>  后台管理系统</div>
<ul class="layui-nav layui-nav-tree" lay-filter="leftNavbar">
    <li class="layui-nav-item layui-nav-itemed">
        <a <% if(locals.page == "home"){ %>
            class="layui-this"
        <% } %> href="/home"><i class="layui-icon layui-icon-home"></i><span>首页</span></a>
    </li>
    <li class="layui-nav-item layui-nav-itemed">
        <a href="javascript:void(0);"><i class="layui-icon layui-icon-app"></i><span>产品管理</span></a>
        <dl class="layui-nav-child">
            <dd <% if(locals.page == "productSort"){ %>
                class="layui-this"
            <% } %> ><a href="/product/sort"><span>产品分类</span></a></dd>
            <dd <% if(locals.page == "productList"){ %>
                class="layui-this"
            <% } %> ><a href="/product/list"><span>产品列表</span></a></dd>
        </dl>
    </li>
    <li class="layui-nav-item layui-nav-itemed">
        <a <% if(locals.page == "news"){ %>
            class="layui-this"
        <% } %> href="/news"><i class="layui-icon layui-icon-read"></i><span>资讯中心</span></a>
    </li>
    <li class="layui-nav-item layui-nav-itemed">
        <a <% if(locals.page == "friendLink"){ %>
            class="layui-this"
        <% } %> href="/friendLink"><i class="layui-icon layui-icon-link"></i><span>友情链接</span></a>
    </li>
    <li class="layui-nav-item layui-nav-itemed">
        <a href="javascript:void(0);"><i class="layui-icon layui-icon-set"></i><span>设置</span></a>
        <dl class="layui-nav-child">
            <dd <% if(locals.page == "adminMessage"){ %>
                class="layui-this"
            <% } %> ><a href="/adminMessage"><span>个人资料</span></a></dd>
        </dl>
    </li>
</ul>