.fdetail-content{
    width: 80%;
    margin: 91px 10% 0 10%;
    min-height: calc(100vh - 191px);
}
.fdetail-bread{
    border-bottom: 1px solid rgb(239, 239, 239);
    padding: 0 0 20px 0;
}
.fdetail-main{
    padding: 20px 0;
    color: #999;
    display: flex;
}
.fdetail-main img{
    height: 300px;
    width: 300px;
}
.fdetail-text{
    flex: 1;
    font-size: 16px;
    padding-left: 20px;
    text-indent: 32px;
}
.fdetail-main h1{
    color: rgb(128, 127, 126);
    margin-bottom: 20px;
}
.fdetail-img p{
    text-align: center;
    margin-top: 10px;
}
