.newsList{
    height: calc(100% - 40px);
    padding: 20px 20px;
}
.newsListSearch{
    height: 60px;
}
.newskListTableDiv{
    height: calc(100% - 140px);
}
.newsListSearch{
    display: flex;
}
.newsList .layui-form-item button{
    margin-left: 50px;
}

.addnews{
    width: 90%;
    margin-top: 20px;
}