<div class="newsList">

    <div class="newsListSearch productListTable">
            <div class="layui-form-item">
                <label class="layui-form-label">名称</label>
                <div class="layui-input-block">
                    <input type="text" id="productListTitle" name="title" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">分类</label>
                <div class="layui-input-block">
                    <form action="" class="layui-form">
                        <select name="sort" lay-filter="sort" id="productListSort" class="layui-select">
                            <option value=""></option>
                            <% result.forEach(function(e){ %>
                                <option value="<%= e.id %>"><%= e.name %></option>
                            <% }) %>
                        </select>
                    </form>
                </div>
            </div>

            <div class="layui-form-item">
                <button class="layui-btn" data-type="reloadList">搜索</button>
            </div>
    </div>
    <div class="newsListTableDiv">
        <div class="layui-btn-group productListTable">
            <button class="layui-btn" data-type="addList">新增</button>
            <button class="layui-btn" data-type="editList">编辑</button>
            <button class="layui-btn" data-type="deleteList">删除</button>
        </div>
        
        <table class="layui-table" lay-data="{ url:'/product/getList', id:'idproductListTable',limit:20,height:'full-300',cellMinWidth: 50, page:{layout: ['count', 'prev', 'page', 'next', 'skip']}}" lay-filter="productListTable">
            <thead>
                <tr>
                    <th lay-data="{type:'checkbox'}"></th>
                    <th lay-data="{field:'indexTpl',width:50,type:'numbers'}">序号</th>
                    <th lay-data="{field:'name'}">名称</th>
                    <th lay-data="{field:'sort_name'}">类别</th>
                    <th lay-data="{field:'detail'}">详情</th>
                    <th lay-data="{field:'img_url'}">图片地址</th>
                </tr>
            </thead>
        </table>
        <script type="text/html" id="indexTpl">
            {{d.LAY_TABLE_INDEX+1}}
        </script>
    </div>
</div>