<div class="newsList">

    <div class="newsListSearch newsListTable">
            <div class="layui-form-item">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-block">
                    <input type="text" id="newsListTitle" name="title" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <button class="layui-btn" data-type="reload">搜索</button>
            </div>
    </div>
    <div class="newsListTableDiv">
        <div class="layui-btn-group newsListTable">
            <button class="layui-btn" data-type="add">新增</button>
            <button class="layui-btn" data-type="edit">编辑</button>
            <button class="layui-btn" data-type="delete">删除</button>
        </div>
        
        <table class="layui-table" lay-data="{ url:'/news/getList', id:'idnewsListTable',limit:10,height:'full-300',cellMinWidth: 50, page:{layout: ['count', 'prev', 'page', 'next', 'skip']}}" lay-filter="newsListTable">
            <thead>
                <tr>
                    <th lay-data="{type:'checkbox'}"></th>
                    <th lay-data="{field:'indexTpl',width:50,type:'numbers'}">序号</th>
                    <th lay-data="{field:'web_name'}">网站名称</th>
                    <th lay-data="{field:'web_url'}">网址</th>
                    <th lay-data="{field:'connect_time'}">建立日期</th>
                    <th lay-data="{field:'inter_link'}">是否互链</th>
                </tr>
            </thead>
        </table>
        <script type="text/html" id="indexTpl">
            {{d.LAY_TABLE_INDEX+1}}
        </script>
    </div>
</div>